##### Importing necessary packages

In [441]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

##### Reading the data from wiki page into a variable

In [450]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

##### Using BeautifulSoup, we can take a look at the underlying structure of the wiki page

In [ ]:
soup = BeautifulSoup(source, 'html5lib')
print(soup.prettify())

##### Using the .find function on the variable 'soup' , we isolate the specific table that has the required data about Boroughs and Neighborhoods and write it out as a text file.

In [ ]:
table = soup.find('table',{'class': 'wikitable sortable'})
table

In [ ]:
with open ('toronto.txt', 'w') as r:
    for row in table.find_all('tr'):
        for cell in row.find_all('td'):
            r.write(cell.text.ljust(25))
        r.write('\n')

##### Read in the text file generated above with the data table and set column names

In [452]:
df = pd.read_fwf('toronto.txt', skip_blank_lines = True)
df.columns = [['PostalCode','Borough','Neighborhoods']]
df

    PostalCode           Borough         Neighborhood
0          M1A      Not assigned         Not assigned
1          NaN               NaN                  NaN
2          M2A      Not assigned         Not assigned
3          NaN               NaN                  NaN
4          M3A        North York            Parkwoods
5          NaN               NaN                  NaN
6          M4A        North York     Victoria Village
7          NaN               NaN                  NaN
8          M5A  Downtown Toronto         Harbourfront
9          NaN               NaN                  NaN
10         M5A  Downtown Toronto          Regent Park
11         NaN               NaN                  NaN
12         M6A        North York     Lawrence Heights
13         NaN               NaN                  NaN
14         M6A        North York       Lawrence Manor
15         NaN               NaN                  NaN
16         M7A      Queen's Park         Not assigned
17         NaN               NaN                  NaN
18         M8A      Not assigned         Not assigned
19         NaN               NaN                  NaN
20         M9A         Etobicoke     Islington Avenue
21         NaN               NaN                  NaN
22         M1B       Scarborough                Rouge
23         NaN               NaN                  NaN
24         M1B       Scarborough              Malvern
25         NaN               NaN                  NaN
26         M2B      Not assigned         Not assigned
27         NaN               NaN                  NaN
28         M3B        North York      Don Mills North
29         NaN               NaN                  NaN
..         ...               ...                  ...
546        M8Y         Etobicoke             Sunnylea
547        NaN               NaN                  NaN
548        M9Y      Not assigned         Not assigned
549        NaN               NaN                  NaN
550        M1Z      Not assigned         Not assigned
551        NaN               NaN                  NaN
552        M2Z      Not assigned         Not assigned
553        NaN               NaN                  NaN
554        M3Z      Not assigned         Not assigned
555        NaN               NaN                  NaN
556        M4Z      Not assigned         Not assigned
557        NaN               NaN                  NaN
558        M5Z      Not assigned         Not assigned
559        NaN               NaN                  NaN
560        M6Z      Not assigned         Not assigned
561        NaN               NaN                  NaN
562        M7Z      Not assigned         Not assigned
563        NaN               NaN                  NaN
564        M8Z         Etobicoke  Kingsway Park South
565        NaN               NaN                  NaN
566        M8Z         Etobicoke            Mimico NW
567        NaN               NaN                  NaN
568        M8Z         Etobicoke   The Queensway West
569        NaN               NaN                  NaN
570        M8Z         Etobicoke  Royal York South We
571        NaN               NaN                  NaN
572        M8Z         Etobicoke       South of Bloor
573        NaN               NaN                  NaN
574        M9Z      Not assigned         Not assigned
575        NaN               NaN                  NaN

[576 rows x 3 columns]

##### In the following step, we deal with the NAs that are generated in the dataframe using the .dropna() function, with the threshold value as 3

In [453]:
df.dropna(thresh = 3, inplace = True)
df.shape
df.head(10)

   PostalCode           Borough      Neighborhood
0         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
4         M3A        North York         Parkwoods
6         M4A        North York  Victoria Village
8         M5A  Downtown Toronto      Harbourfront
10        M5A  Downtown Toronto       Regent Park
12        M6A        North York  Lawrence Heights
14        M6A        North York    Lawrence Manor
16        M7A      Queen's Park      Not assigned
18        M8A      Not assigned      Not assigned

##### Dealing with the "Not assigned" Values

In [461]:
df = df.replace({"Not assigned"}, {''}, regex = True)
df.head(10)

  PostalCode      Borough                               Neighborhoods
0        M1A
1        M1B  Scarborough                              Rouge, Malvern
2        M1C  Scarborough      Highland Creek, Rouge Hill, Port Union
3        M1E  Scarborough           Guildwood, Morningside, West Hill
4        M1G  Scarborough                                      Woburn
5        M1H  Scarborough                                   Cedarbrae
6        M1J  Scarborough                         Scarborough Village
7        M1K  Scarborough  East Birchmount Par, Ionview, Kennedy Park
8        M1L  Scarborough             Clairlea, Golden Mile, Oakridge
9        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village

##### For records that have valid values for Boroughs but no value in the neighborhood columns, we have to add the borough name as the neighborhood. The next step takes care of that using the Where function in NumPy

In [462]:
df.columns = ['PostalCode', 'Borough', 'Neighborhoods']

df['Neighborhoods'] = np.where(df['Neighborhoods'] == "",df['Borough'], df['Neighborhoods'])
df.head(10)

  PostalCode      Borough                               Neighborhoods
0        M1A
1        M1B  Scarborough                              Rouge, Malvern
2        M1C  Scarborough      Highland Creek, Rouge Hill, Port Union
3        M1E  Scarborough           Guildwood, Morningside, West Hill
4        M1G  Scarborough                                      Woburn
5        M1H  Scarborough                                   Cedarbrae
6        M1J  Scarborough                         Scarborough Village
7        M1K  Scarborough  East Birchmount Par, Ionview, Kennedy Park
8        M1L  Scarborough             Clairlea, Golden Mile, Oakridge
9        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village

##### Using the groupby function, we collect Neighborhoods that belong to the same Borough

In [466]:
df = df.groupby(['PostalCode','Borough'])['Neighborhoods'].apply(', '.join).reset_index()
df

    PostalCode      Borough                                      Neighborhoods
0          M1A
1          M1B  Scarborough                                     Rouge, Malvern
2          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
3          M1E  Scarborough                  Guildwood, Morningside, West Hill
4          M1G  Scarborough                                             Woburn
5          M1H  Scarborough                                          Cedarbrae
6          M1J  Scarborough                                Scarborough Village
7          M1K  Scarborough         East Birchmount Par, Ionview, Kennedy Park
8          M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
9          M1M  Scarborough         Cliffcrest, Cliffside, Scarborough Village
10         M1N  Scarborough                        Birch Cliff, Cliffside West
11         M1P  Scarborough  Dorset Park, Scarborough Town Ce, Wexford Heights
12         M1R  Scarborough                                  Maryvale, Wexford
13         M1S  Scarborough                                          Agincourt
14         M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
15         M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
16         M1W  Scarborough                                    L'Amoreaux West
17         M1X  Scarborough                                        Upper Rouge
18         M1Y
19         M1Z
20         M2A
21         M2B
22         M2C
23         M2E
24         M2G
25         M2H   North York                                  Hillcrest Village
26         M2J   North York                       Fairview, Henry Farm, Oriole
27         M2K   North York                                    Bayview Village
28         M2L   North York                           Silver Hills, York Mills
29         M2M   North York                            Newtonbrook, Willowdale
..         ...          ...                                                ...
150        M8N
151        M8P
152        M8R
153        M8S
154        M8T
155        M8V    Etobicoke       Humber Bay Shores, Mimico South, New Toronto
156        M8W    Etobicoke                             Alderwood, Long Branch
157        M8X    Etobicoke      The Kingsway, Montgomery Road, Old Mill North
158        M8Y    Etobicoke  Humber Bay, King's Mill Park, Kingsway Park So...
159        M8Z    Etobicoke  Kingsway Park South, Mimico NW, The Queensway ...
160        M9A    Etobicoke                                   Islington Avenue
161        M9B    Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
162        M9C    Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
163        M9E
164        M9G
165        M9H
166        M9J
167        M9K
168        M9L   North York                                      Humber Summit
169        M9M   North York                                   Emery, Humberlea
170        M9N         York                                             Weston
171        M9P    Etobicoke                                          Westmount
172        M9R    Etobicoke  Kingsview Village, Martin Grove Garden, Richvi...
173        M9S
174        M9T
175        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
176        M9W    Etobicoke                                          Northwest
177        M9X
178        M9Y
179        M9Z

[180 rows x 3 columns]

##### Printing shape of the final dataframe

In [468]:
print("Shape of the dataframe is:", df.shape)

Shape of the dataframe is: (180, 3)